@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
       -o-animation: $animation;
          animation: $animation;
}

@mixin scale3d($scale-x,$scale-y,$scale-z) {
  -webkit-transform: scale3d($scale-x, $scale-y, $scale-z);
      -ms-transform: scale3d($scale-x, $scale-y, $scale-z); // IE9 only
       -o-transform: scale3d($scale-x, $scale-y, $scale-z);
          transform: scale3d($scale-x, $scale-y, $scale-z);
}

@mixin keyframes($name){
  @-moz-keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Click feedback
// -------------------------
[data-click-feedback] {
	position: relative;
	overflow: visible;
	outline: none;
	@include transition(color 0.3s);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -35px 0 0 -35px;
		opacity: 0;
		pointer-events: none;
		@include square(70px);
		@include border-radius(50%);
		@include box-shadow(inset 0 0 0 35px rgba(126,126,126,0));
		@include keyframes(pulse){
			0% {
				opacity: 1;
				@include scale3d(0.4, 0.4, 1);
			}
			80% {
				opacity: 0.1;
				@include box-shadow(inset 0 0 0 2px rgba(126,126,126,0.6));
			}
			100% {
				opacity: 0;
				@include box-shadow(inset 0 0 0 2px rgba(126,126,126,0.6));
				@include scale3d(1.2, 1.2, 1);
			}
		}
	}
	&.feedback-active {
		&:after {
			@include animation(pulse 0.5s ease-out forwards);
		}
		&[aria-pressed="true"] {
			&:after {
				//@include animation(pulse 0.5s ease-out forwards infinite);
			}
		}
	}
}
